{% extends 'base.html.twig' %}

{% block title %}SF Notifier{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Notifier</li>
        </ol>
    </nav>
    <section style="margin-bottom: 1rem;">
        <h2>Add a new custom transport</h2>
        {{ form_start(addForm) }}
        <div class="row">
            <div class="col-xs-12 col-md-9">{{ form_widget(addForm.transport) }}</div>
            <div class="col-xs-12 col-md-3">{{ form_widget(addForm.add) }}</div>
            {{ form_end(addForm) }}

    </section>

    <section>
        <h2>List of custom notifier</h2>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Transport</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for chat in chatNotifierArray %}
                <tr>
                    <td>{{ chat.label }}</td>
                    <td>{{ chat.transport }}</td>
                    <td><a class="btn btn-danger btn-sm"
                           href="{{ url('app.notifier.remove', {chatNotifier:  chat.id}) }}">Delete</a>&nbsp;
                        <a class="btn btn-warning btn-sm"
                           href="{{ url('app.notifier.edit', {chatNotifier:  chat.id}) }}">Edit</a>
                        <a class="btn btn-success btn-sm"
                           href="{{ url('app.notifier.send', {chatNotifier:  chat.id}) }}">Send message</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
