{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url('app.notifier.index') }}">Notifier</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">{% if chatNotifier.id is null %}New chat notifier{% else %}Edit chat notifier {% endif %}</li>
        </ol>
    </nav>
    {{ form(form) }}

{% endblock %}
